.Card {
   border: 3px solid;
   border-radius: 10px;
   overflow: hidden;
   margin: 10px;

   display: flex;
   flex-direction: column;
   min-width: 500px;
   max-width: 500px;
}

.Card {

   background: #654ea3;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #eaafc8, #654ea3);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   box-shadow: 8px 5px 5px rgba(30, 30, 40, 0.7);

}

.Card .Title {
   padding: 5px 0px;
   display: flex;
   justify-content: center;
}

.Card .Content {

   flex-grow: 1;
   background-color: white;
   color: black;
   padding: 10px;


}